<router-outlet></router-outlet>

<app-upload
    (change)="onFileChange($event)"
    >
    <div
        *ngIf="!preview"
        class="drop-box"
        style="width: 250px; height: 250px; padding: 20px"
        fxLayout="row"
        fxLayoutAlign="center center">
        <div
            flex="70"
            fxLayout="column"
            fxLayoutAlign="center center"
            >
            <img
                width="auto"
                height="200px"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/.xls_icon.svg/2000px-.xls_icon.svg.png"
                >
            <p
                class="text-center mat-title"
                >
                Suelta el archivo <strong>.XLS</strong> aquí
            </p>
            <span
                class="text-center mat-body-1"
                >
                o haz click para utilizar el explorador
            </span>
        </div>
    </div>
</app-upload>

<mat-form-field>
    <input matInput type="text" name="filter" [(ngModel)]="street_filter">
</mat-form-field>

<button mat-button (click)="filterData(street_filter)">Filtrar</button>
<button mat-button (click)="exportPDF(filtered_data)">Exportar PDF</button>

<table class="sjs-table">
	<tr *ngFor="let row of filtered_data">
		<td *ngFor="let val of row">
			{{val}}
		</td>
	</tr>
</table>
